<div class="accolades-container">
  <div *ngIf="isAdmin" class="edit-button-container">
    <button (click)="toggleEditMode()">{{ editMode ? 'Cancel' : 'Edit' }}</button>
  </div>
  <div class="accolades">
    <div *ngFor="let accolade of accolades" class="accolade">
      <div class="icon">{{ accolade.icon }}</div>
      <div class="content">
        <div class="count">
          <span *ngIf="!editMode">{{ accolade.count }}{{ accolade.suffix }}</span>
          <input *ngIf="editMode" type="number" [(ngModel)]="accolade.count" />
          <input *ngIf="editMode" type="text" [(ngModel)]="accolade.suffix" />
        </div>
        <div class="title">
          <span *ngIf="!editMode">{{ accolade.title }}</span>
          <input *ngIf="editMode" type="text" [(ngModel)]="accolade.title" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editMode" class="save-button-container">
    <button (click)="saveChanges()">Save</button>
  </div>
</div>
