/* header styles */
.logo {
  height: 56px;
}

/* Mobile Menu Animation */
.mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.mobile-menu.open {
  max-height: 500px; /* Adjust as needed */
}

/* Responsive styles */
@media (max-width: 768px) {
  .logo-text {
    display: none;
  }
}